.body_backgorund 
{
    background-image:url("https://cdn.wallpapersafari.com/34/49/OgbNXy.jpg");
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}
h2{
    border-radius:  10px;
    
}
h3
{
	width: 1000px;
	background-color: rgb(230, 189, 189);
	display: inline-block;
}

